.navbar {
    background-color: black;
    color: rgb(237,192,116);
    font-size: 18px;
    position: static;
}
#top-content{
    background-color:black;
    width:100%;
    height:100px;
}

#logo{
    height:150px;
}
.showIfGameStopped {
    color: rgb(237,192,116);
    float: right;
    font-size: 18px;
    margin: 40px;
    padding: 5px;
    border: 3px solid rgb(237,192,116);
    border-radius: 7px;
}