body {
    background-color:ghostwhite;
}

.header{
    margin:3px;
    font-size:16px;
    color:slategrey;
}


.linkTitle {
    margin-bottom: 5px;
    font-size: 20px;
    color:slategray;
    
}

#movieItem {
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 7px;
    position:relative;
}

.items {
    display: block;
    padding: 3px;
}

#title {
    color: gray;
    font-size:16px;
    width: 60%;
    margin: 3px;
    align-self: flex-start;
  
}

#poster {    
   width: 150px;
    align-self: flex-start;
    float:right;
    margin:3px;        
}

.categoryTtleLabel {
    text-transform: uppercase;
    font-weight:bold;
    font-size:20px;
}

a {
    color:darkgray;
}

.checkButton {
    font-family: Wingdings;
    background-color: ghostwhite;
    border: none;
    width: 30px;
    height: 30px;
    color:darkslategrey;
    font-size:25px;
}

.hidden{
    visibility:hidden;
}
.warning {
    margin: 5px;
    padding: 5px;
    float: right;
    border: 2px solid red;
    border-radius: 3px;
}
.green {
    margin: 5px;
    padding: 5px;
    float: right;
    border: 2px solid green;
    border-radius:3px;
}
.imdb {
    width:40px;
}
.winner {
    padding: 7px;
    border: 2px solid red;
    border-radius:3px;
}
.winnerLogo {
    width: 35px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius:3px;
}
