
#movieItem {
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin:7px;
}

.items {
    display: block;
    padding: 3px;
}

#title {
    color: gray;
    font-size:16px;
    width: 60%;
    margin: 3px;
    align-self: flex-start;
}

#poster {    
   width:100%;
   height:100%;
    align-self: flex-start;
    margin:3px;
    
}

#CategoryTtleLabel {
    text-transform: uppercase;
    font-weight:bold;
}

a {
    color:darkgray;
}

