.movieItem {
    width:800px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 7px;
}

#info {
    color: gray;
    font-size: 16px;
    width: 60%;
    margin: 3px;
    align-self: flex-start;
}


.poster {
    width: 40%;
    align-self: flex-start;
    margin: 3px;
}

#title{
    font-size: 18px;
    font-weight:bold;
}

#backlLink{
    text-decoration:none;   
}

#AddMovieToCategoryButton {
    background-color: antiquewhite;
}
.imdb {
    margin:5px;
    width: 40px;
}