body {
    background-color: ghostwhite;
}
.redBorder {
    padding: 5px;
    border: 3px solid rgb(179,0,0);
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(237,192,116);
}

.grid {
    margin-top: 20px;
    border: 3px solid rgb(237,192,116);
   
}

.link {
    color: rgb(179,0,0);
    font-size: 18px;
    font-weight: bold;
    float: right;
}
.goldFont {
    color: rgb(237,192,116);
}

.goldFont {
    color: rgb(179,0,0);
}
.columnscss {    
    padding-left: 20px;
    padding-right: 20px;
}